@media (min-width: 1200px) {
    .header {
        .hamburger {
            visibility: hidden;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 870px;
    }
    .promo {
        background: url("../img/header.jpg") 68% center/cover no-repeat;
        &__block {
            padding: 514px 0 70px 117px;
        }
        .hamburger {
            visibility: hidden;
        }
    }
    .about {
        padding-top: 65px;
        .container {
            max-width: 830px;
        }
        &__items {
            grid-template-columns: repeat(auto-fit, 313px);
            justify-content: space-between;
            gap: 45px;
        }
        &-title {
            font-size: 21px;
        }
    }
    .your {
        padding-top: 50px;
        .container {
            max-width: 900px;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
            justify-content: center;
            .white {
                padding: 69px 15px 97px;
            }
        }
    }
    .red {
        .container {
            max-width: 900px;
        }
        h2 {
            font-size: 26px;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
            justify-content: center;
        }
        &__item {
            &-text {
                padding: 40px 50px 20px;
            }
        }
        .white {
            &_1 {
                h3:after {
                    padding-left: 390px;
                }
            }
            &_shadow {
                h3:after {
                    padding-left: 96px;
                }
            }
        }
        .green_2 {
            h3::after {
                padding-left: 76px;
            }
        }
    }
    .contacts {
        min-height: 620px;
        padding: 67px 0 212px 0;
        .container {
            max-width: 900px;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 411px);
        }
        &__about {
            grid-template-columns: repeat(auto-fit, 411px);
        }
    }
}

@media (max-width: 992px) {
    .promo {
        background: url("../img/header.jpg") 59% center/cover no-repeat;
        .container {
            max-width: 750px;
        }

        .header-list {
            &__item {
                padding-right: 29px;
            }
        }
    }
    .about {
        .container {
            max-width: 680px;
        }
        &__items {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .your {
        .container {
            max-width: 700px;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 234px);
        }
    }
    .red {
        .container {
            max-width: 700px;
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 234px);
        }
        .white {
            &_1 {
                h3:after {
                    padding-left: 261px;
                }
            }
            &_shadow {
                h3:after {
                    padding-left: 25px;
                }
            }
        }
        .green_2 {
            h3::after {
                padding-left: 10px;
            }
        }
    }

    .idea {
        .container {
            max-width: 700px;
        }
    }

    .contacts {
        padding: 67px 0 25px 0;
        .container {
            max-width: 700px;
        }
        &__form {
            grid-template: 49px/140px 335px 180px;
        }
        &__about {
            column-gap: 1px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        .container {
            max-width: 530px;
        }
        .header {
            &__official {
                padding-left: 32px;
            }
            &-list {
                position: fixed;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 15px 20px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #a2ca28;
                opacity: 0.8;
                z-index: 3;
                transition: 0.8s all;
                &_active {
                    left: 0;
                }

                &__item {
                    padding-right: 0;
                    margin: 10px 0;
                }
                a {
                    &:hover {
                        color: #000;
                    }
                }
            }
            .hamburger {
                visibility: visible;
            }
        }
    }
    .about {
        .container {
            width: 100%;
        }
        &-title {
            padding-top: 8px;
        }
        &-descr {
            padding-top: 21px;
        }
        &__items {
            justify-content: center;
        }
    }
    .your {
        .container {
            max-width: 470px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            .horizontal-1,
            .horizontal-2 {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .red {
        .container {
            max-width: 470px;
        }
        h2 {
            font-size: 26px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            .horizontal-1, .horizontal-2, .green, .white {
                grid-row: unset;
                grid-column: unset;
            }
            .green_2 {
                h3::after {
                    padding-left: 237px;
                }
            }
            .white {
                &_1 {
                    h3:after {
                        padding-left: 259px;
                    }
                }
                &_shadow {
                    h3:after {
                        padding-left: 262px;
                    }
                }
            }
        }
        .horizontal-1 {
            div {
                right: 33px;
                left: 33px;
            }
        }
    }
    .idea {
        min-height: 720px;
        padding-top: 200px;
        .container {
            max-width: 500px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .contacts {
        .container {
            width: 100%;
            padding: 0 15px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            padding: 0;
        }
        &__about {
            grid-template-columns: 1fr;
            row-gap: 50px;
        }
        &__form {
            grid-template: 45px 45px 45px minmax(45px, auto) / 1fr;
            row-gap: 22px;
            grid-column: unset;
            justify-self: center;
            width: 65%;
        }
        &__info {
            width: 246px;
        }
        &__btn {
            justify-self: center;
            width: 65%;
        }
    }
}

@media (max-width: 460px) {
    .red {
        h3:after {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        background: url("../img/header.jpg") 55% center/cover no-repeat;
        .container {
            width: 100%;
            padding: 0 10px;
        }
        .header {
            &__title {
                font-size: 19px;
            }
        }
        &__block {
            padding: 499px 0 0 75px;
            &-title {
                font-size: 20px;
            }
        }
    }

    .about {
        &__items {
            grid-template-columns: repeat(auto-fit, 220px);
        }
        &-descr {
            min-height: 110px;
        }
    }
    .your {
        .container {
            width: 100%;
            padding: 0 10px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .red {
        .container {
            width: 100%;
            padding: 0 10px;
        }
        .horizontal-1 {
            div {
                right: 13px;
                left: 13px;
                h3 {
                    font-size: 10px;
                }
            }
        }
        &__item {
            &-text {
                padding: 40px 20px 20px 20px;
            }
        }
    }
    .idea {
        min-height: 550px;
        padding-top: 100px;
        .container {
            width: 100%;
            padding: 0 10px;
        }
        h2 {
            font-size: 20px;
            text-align: center;
        }
        p {
            font-size: 17px;
            width: 100%;
            text-align: center;
        }
    }
    .contacts {
        &__form {
            width: 90%;
        }
    }
}
