@import 'libs/bootstrap-reboot.min';
@import 'libs/font.scss';
@import 'libs/fontawesome/scss/fontawesome.scss';
@import 'libs/fontawesome/scss/solid.scss';
@import 'libs/fontawesome/scss/brands.scss';
@import 'libs/fontawesome/scss/regular.scss';
@import 'libs/fontawesome/scss/icons.scss';

* {
    font-family: 'AvenirNextRoundedStdDemi', 'AvenirNextRoundedStdMed', 'AvenirNextRoundedStdReg', 'OpenSansBold', 'OpenSansRegular', 'ProximaNovaRegular', 'MontserratRegular', sans-serif;
}

.container {
    width: 1180px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/your';
@import 'blocks/red';
@import 'blocks/idea';
@import 'blocks/contacts';
@import 'blocks/hamburger';
@import 'base/media';
