.promo {
    min-height: 100vh;
    background: url("../img/header.jpg") no-repeat 50% / cover /* center center/cover no-repeat */;
    padding-top: 39px;
    position: relative;
    .header {
        display: flex;
        justify-content: space-between;
        line-height: 1;
        &__official {
            padding-left: 52px;
            display: flex;
            justify-content: space-between;
        }
        &__title {
            padding-left: 13px;
            font-family: "AvenirNextRoundedStdDemi";
            font-size: 24px;
            font-weight: normal;
            text-transform: uppercase;
            color: #fff;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            text-decoration: none;
            padding-right: 46px;
            list-style-type: none;
            padding-left: 0;
            align-items: flex-end;
            &__item {
                padding-right: 65px;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    color: #fff;
                    font-family: "AvenirNextRoundedStdMed";
                    font-size: 13px;
                    font-weight: normal;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &__block {
        padding: 602px 0 70px 117px;
        color: #fff;
        &-title {
            font-family: "AvenirNextRoundedStdReg";
            font-size: 40px;
            font-weight: normal;
            text-transform: uppercase;
            span {
                color: #a2ca28;
            }
        }
        &-subtitle {
            font-family: "OpenSansBold";
            font-size: 15px;
            text-transform: uppercase;
            span {
                color: #fd634e;
            }
        }
    }
}
